<div class="footer">
    <ul class="list-inline">
        <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank"
                href="https://web.facebook.com/egbe.jeremiah1"><i class="fa fa-facebook brand"></i></a></li>
        <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank"
                href="https://twitter.com/Egbe_Jeremiah"><i class="fa fa-twitter brand"></i></a></li>
        <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank"
                href="https://github.com/ejsmart111"><i class="fa fa-github brand"></i></a></li>
        <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank"
                href="https://instagram.com/e_jerrie"><i class="fa fa-instagram brand"></i></a></li>
        <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank"
                href="https://medium.com/@egbeejay"><i class="fa fa-medium brand"></i></a></li>
        <li class="list-inline-item"><a class="social-icon text-xs-center" target="_blank"
                href="https://www.linkedin.com/in/egbe-jeremiah-338703173/"><i class="fa fa-linkedin brand"></i></a>
        </li>
    </ul>
</div>