<html>

<head>
    <title>Egbe Jeremiah- About</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Raleway:ital,wght@0,400;0,500;0,600;1,400&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/solid.min.css"
        integrity="sha512-SazV6tF6Ko4GxhyIZpKoXiKYndqzh7+cqxl9HDH7DGSpjkCN3QLqTAlhJHJnKxu3/2rfCsltzwFC4CmxZE1hPg=="
        crossorigin="anonymous" />
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
    <style>
        .icon-rack {
            padding: 30px;
            width: 150px;
            height: 150px;
            background-color: #E2364D;
            border-radius: 100%;
            color: white;
            margin: 0 auto;
        }
        .fa {
            margin-left: -5px;
            margin-top: 20px;
        }
        .progress-bar {
            background-color: #E2364D;
        }
        
    </style>
</head>

<body>
    <%-include('partials/nav')-%>
    <div class="container"><br><br>
        <h2 class="text-center">ABOUT</h2>
        <hr style="border:1px solid #E2364D; width:40px" /><br><br>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="icon-rack"><i class="fa fa-mobile fa-3x"></i></div>
                <h5 class="mt-3" style="color: #0f131f">RESPONSIVE</h5>
                <p style="color: rgb(116, 102, 102)">My layouts will work on any device, big or small.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon-rack"><i class="fa fa-code fa-3x"></i></div>
                <h5 class="mt-3" style="color: #0f131f">CODE</h5>
                <p style="color: rgb(116, 102, 102)">I write clean, easy to read and functional code.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon-rack"><i class="fa fa-flash fa-3x"></i></div>
                <h5 class="mt-3" style="color: #0f131f">FAST</h5>
                <p style="color: rgb(116, 102, 102)">Fast load times and lag free interaction, my highest priority.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon-rack"><i class="fa fa-handshake-o fa-3x"></i></div>
                <h5 class="mt-3" style="color: #0f131f">COLLABORATION</h5>
                <p style="color: rgb(116, 102, 102)">I collaborate with my clients to get the full idea of how they want their website to look like.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon-rack"><i class="fa fa-paint-brush fa-3x"></i></div>
                <h5 class="mt-3" style="color: #0f131f">UX</h5>
                <p style="color: rgb(116, 102, 102)">I pay full attention to the user's experience.</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon-rack"><i class="fa fa-rocket fa-3x"></i></div>
                <h5 class="mt-3" style="color: #0f131f">DYNAMIC</h5>
                <p style="color: rgb(116, 102, 102)">Websites don't have to be static, I love making pages come to life.</p>
            </div>
        </div><br><br><hr/><br><br><br>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="/assets/me.png" width="300" class="img-fluid d-block mx-auto" />
                <br>
                <div style="margin: 0 auto; max-width: 450px;"><p style="color: rgb(116, 102, 102)">I am Egbe Jeremiah and I am a Front-End Developer for <a style="color: #E2364D" href="">CypherCrescent Ltd</a> in Port Harcout, Rivers state. I have a passion for bringing websites to life using animations, UI effects and creating intuitive and dynamic user experiences</p></div>
            </div>
            <div class="col-md-6">
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">CSS</span> <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">90%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">HTML</span> <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">90%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">VUE</span> <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">85%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">REACT</span> <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">60%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">JavaScript</span> <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">80%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">NODE</span> <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">60%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">UI Design</span> <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">60%</div>
                </div><br>
                <div class="progress" style="height: 25px;">
                    <span style="padding-top: 3px; color:white; background-color: rgb(240, 123, 139); width:90px" class="text-center pl-2">Adobe XD</span> <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100">70%</div>
                </div><br>
            </div>
        </div><br><br><br><br>
    </div>
    <%-include('partials/footer')-%>

    <script type="text/javascript" src="/assets/simditor/site/assets/scripts/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ff2ffd9765.js"></script>
    <script>
        $(document).ready(() => {

        })
    </script>
</body>

</html>